body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #244bf7, #3d3dfa, #120d5a, #0004fc);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
   
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.title {
    color: grey;
    font-size: 18px;
}

.social-links a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.social-links a:hover {
    background-color: #555;
}

.about-me {
    margin-top: 20px;
    text-align: center;
}

.about-me h2 {
    margin-bottom: 10px;
}

.about-me p {
    font-size: 16px;
    line-height: 1.6;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Fullscreen overlay navigation CSS */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
